<div id="new-entry" class="span11 offset2">
  
  {% if current_user %}
  <!-- Add new entry form -->
  <form id="entry_form" method="post" action="{{space.permalink}}/ideas" class="add-new" enctype="multipart/form-data">
    <fieldset>
    
      <!-- Entry title -->
      <div class="input">
        <label for="idea[title]">{{ theme.idea_context }} title</label>
        <input id="title" name="idea[title]" type="text" placeholder="{{ theme.idea_context }} title" class="field required">
      </div>
      
      <!-- Image upload -->
      <div class="input photoupload last">
        <label>photo</label>
        <input type="file" id="idea_images_attributes_0_file" name="idea[images_attributes][0][file]" class="upload required" />
      </div>
      
      <!-- Main content -->
      <div class="input last">
        <label for="idea[content]">Message</span>
        <textarea id="content-input" name="idea[content]" class="content field required"></textarea>
      </div>
      
      <!-- Share & submit -->
      <div class="input actions last">
        <div class="checkarea"><input type="checkbox" name="idea[should_post_to_social]" value="1" checked />share to {{current_user.provider}}?</div>
        <input type="submit" value="submit recipe" class="btn primary submit" />
      </div>
      
    </fieldset>
  </form>
  {% else %}
  <div id="intro" class="span12 offset1">
    you need to login to add a {{ theme.idea_context }}!
  </div>
  {% endif %}
  
</div>